@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}
.home {
  height: 100vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D")
    no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.nav {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  position: fixed;
  z-index: 150;
}
.nav img {
  width: 110px;
  padding-top: 8px;
}
.primary-submenu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.primary-submenu ul li i {
  display: none;
}
.primary-submenu ul li {
  margin: 0 6px;
  cursor: pointer;
  padding: 4px 10px;
}
.primary-submenu ul li a {
  text-decoration: none;
  color: #3d4045;
}
.primary-submenu ul li:hover,
.secondary-submenu ul li:hover {
  background-color: #f2f2f2;
  padding: 4px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.secondary-submenu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.secondary-submenu ul li {
  margin: 0 6px;
  cursor: pointer;
  padding: 4px 10px;
}
/*opt menu*/
.opt-menu {
  width: 21%;
  background-color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0%;
  right: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  overflow-y: scroll;
  z-index: 160;
  box-shadow: 0px 0px 18px rgb(59, 57, 57);
}
.opt-menu #opt-2 {
  list-style: none;
  margin-top: 65px;
  margin-left: 35px;
}
.opt-menu #opt-2 li {
  padding: 5px 12px;
  margin: 3px 34px 5px 4px;
  cursor: pointer;
}
.opt-menu #opt-2 li:hover {
  background-color: #f2f2f2;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.opt-menu i {
  color: rgb(78, 68, 68);
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 8%;
  margin-top: 18px;
  padding: 6px 10px;
}
.opt-menu i:hover {
  background-color: #f2f2f2;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#opt-1 {
  display: none;
}
/* model text */
.model-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  animation: up 4s;
  -webkit-animation: up 2.5s;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@keyframes up {
  from {
    top: 50%;
  }
  to {
    top: 20%;
  }
}
.model-text h2 {
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 7px;
}
.model-text p {
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.model-text #p-span {
  border-bottom: 2.2px solid black;
  cursor: pointer;
}
.model-text #p-span:hover {
  border-bottom: 3.2px solid black;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
/* opt buttons */
.opt-buttons {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 82%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.opt-buttons button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  height: 40px;
  width: 250px;
  margin: 12px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  border: none;
}
.opt-buttons #first {
  background-color: #3d4045;
  color: white;
  animation: right 3s;
  -webkit-animation: right 3s;
}
@keyframes right {
  from {
    margin-right: 100px;
  }
  to {
    margin-right: 12px;
  }
}
.opt-buttons #first:hover {
  height: 34px;
  border: 3px solid white;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  /* outline: 4px solid #3d4045; */
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.opt-buttons #second:hover {
  height: 34px;
  border: 3px solid #3d4045;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  /* outline: 4px solid #e8e8e7; */
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.opt-buttons #second {
  background-color: #e8e8e7;
  color: black;
}
/* chevron down */
#down {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  top: 94%;
  left: 50%;
  font-size: 20px;
  cursor: pointer;
  color: #3d4045;
  animation: down infinite;
  -webkit-animation: down 3s infinite;
}
@keyframes down {
  0% {
    top: 94%;
  }
  50% {
    top: 95%;
  }
  60% {
    top: 94%;
  }
  70% {
    top: 95%;
  }
  75% {
    top: 94%;
  }
  85% {
    top: 95%;
  }
  100% {
    top: 94%;
  }
}

/* model y */
.model-y {
  height: 100vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70")
    no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.model-s {
  height: 100vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop")
    no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.model-x {
  height: 100vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/325743a2-d187-4e28-91a3-5a2e47e317f7/bvlatuR/std/2880x1800/ModelX-Homepage-D")
    no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.solar-panels {
  height: 100vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D")
    no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.solar-roof {
  height: 100vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D")
    no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.accessories {
  height: 100vh;
  background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories")
    no-repeat center;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.p-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #3d4045;
}
.p-group p {
  margin: 4px 10px;
  cursor: pointer;
}

@media screen and (max-width: 1208px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav img {
    margin-left: 25px;
  }
  .primary-submenu ul li {
    display: none;
  }
  .secondary-submenu ul li {
    display: none;
  }
  .secondary-submenu ul #menu {
    display: block;
    margin-right: 25px;
    font-size: 18px;
    padding: 6px 18px;
    border-radius: 10px;
    background-color: #f2f2f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .opt-menu {
    width: 35%;
  }
  .opt-menu #opt-2 {
    margin-top: 0;
  }
  #opt-1 {
    display: block;
    list-style: none;
    margin-top: 65px;
    margin-left: 35px;
  }
  .opt-menu #opt-1 li {
    padding: 5px 12px;
    margin: 3px 34px 5px 4px;
    cursor: pointer;
  }
  .opt-menu #opt-1 li a {
    text-decoration: none;
    color: black;
  }
  .opt-menu #opt-1 li:hover {
    background-color: #f2f2f2;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
}

@media screen and (max-width: 768px) {
  .opt-menu {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .opt-buttons {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  @keyframes right {
    from {
      margin-bottom: 120px;
    }
    to {
      margin-bottom: 12px;
    }
  }
  .opt-buttons button {
    margin: 7px auto;
    width: 85%;
    height: 42px;
  }
  .p-group {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .opt-menu {
    width: 75%;
  }
}
@media screen and (max-width: 278px) {
  .opt-menu {
    width: 85%;
  }
}
